.card {
  background-color: #4ea5d9;
  border: 8px solid black;
  border-radius: 8px;
  color: black;
  display: flex;
  flex-direction: column;
  height: 400px;
  width: 300px;
}

.card h2 {
  align-self: flex-end;
  background-color: #053b7e;
  color: aliceblue;
  margin: 0;
  max-height: 56px;
  min-height: 28px;
  min-width: 300px;
  overflow: hidden;
  z-index: 0;
}

.card img {
  height: 150px;
  overflow: auto;
  size: cover;
  width: 100%;
  z-index: 1;
}

.card p {
  margin: 0;
}
