.card {
  background-color: var(--primary-color);
  border: 5px solid aliceblue;
  border-radius: 9px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2) , 0 8px 20px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  height: 384px;
  padding: 8px;
  width: 284px;
}


.card img {
  height: 200px;
  object-fit: cover;
  width: 100%;
}

.card p, h2 {
  margin: 4px 0;
  padding: 0 10px;
  word-wrap: break-word;
}

.card h2 {
  background-color: var(--secondary-color);
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  color: aliceblue;
  margin: 0;
  text-align: right;
  word-wrap: break-word;
}

.card .description-card {
  color: aliceblue;
  font-size: 14px;
  margin-top: 0;
  padding: 5px;
  text-align: justify;
}

.card .card-attrs-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 4px;
  justify-content: center;
  margin: auto 0;
}

.card .card-attr {
  align-items: center;
  background-color: aliceblue;
  border: 1px solid aliceblue;
  border-radius: 9px;
  display: flex;
  justify-content: space-between;
  width: 60%;
}

.card .card-attr p {
  color: aliceblue;
  margin: 0;
}

.card .card-attr span {
  background-color: var(--primary-color);
  border-radius: 9px;
  color: aliceblue;
  min-width: 30px;
  text-align: center;
}


.card .rare-trunfo-container {
  color: aliceblue;
  display: flex;
  justify-content: space-between;
  margin-top: auto;
}

.card .card-trunfo {
  background-color: var(--primary-color);
  border-left: 4px solid aliceblue;
  border-top: 4px solid aliceblue;
  margin-bottom: 0;
}

.card .card-rare {
  background-color: var(--primary-color);
  border-right: 4px solid aliceblue;
  border-top: 4px solid aliceblue;
  margin-bottom: 0;
}
