.card {
  background-color: #ffd400;
  border: 8px solid rgb(254, 254, 254);
  display: flex;
  flex-direction: column;
  height: 400px;
  width: 300px;
}

.card h2 {
  align-self: flex-end;
  background-color: #f0e100;
  margin-bottom: auto;
  margin-top: 0;
  max-height: 56px;
  max-width: 300px;
  overflow: hidden;
}
