/* stylelint-disable selector-no-qualifying-type */
.form {
  color: black;
  display: flex;
  flex-direction: column;
  gap: 16px;
  height: 450px;
  width: 40%;
}

h1 {
  color: #4ea5d9;
}

label {
  display: flex;
  flex-direction: column;
  gap: 4px;
  justify-content: space-between;
}

.form input[ type = 'text' ], textarea {
  border: none;
  border-bottom: 2px solid gray;
}

.form input, textarea {
  background-color: aliceblue;
  margin-bottom: 4px;
}

.form textarea {
  resize: none;
}

.attr-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.attr {
  display: flex;
  flex-direction: row;
}

.attr input {
  background-color: rgb(151, 207, 255);
  border: 1px solid gray;
  border-radius: 8px;
  max-width: 140px;
  text-align: justify;
}

.form button {
  height: 40px;
  width: 160px;
}

.super-trunfo-input {
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
}

.button-trunfo-container {
  display: flex;
  justify-content: space-between;
  margin-top: 8px;
}
