/* stylelint-disable selector-no-qualifying-type */
.form {
  color: black;
  display: flex;
  flex-direction: column;
  gap: 16px;
  height: 100%;
  width: 100%;
}

h1 {
  color: #4ea5d9;
}

label {
  display: flex;
  flex-direction: column;
  gap: 4px;
  justify-content: space-between;
}

.card-name, .card-description {
  border: none;
  border-bottom: 2px solid gray;
}

.form input, textarea {
  background-color: aliceblue;
  margin-bottom: 4px;
}

.form textarea {
  resize: none;
}

.attr-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.label-input-flex {
  display: flex;
  flex-direction: row;
}

.label-input-flex input {
  background-color: rgb(151, 207, 255);
  border: 1px solid gray;
  height: 24px;
  max-width: 140px;
  text-align: justify;
  width: 100%;
}

.card-image-input {
  background-attachment: local;
  background-color: white;
  background-image: url('../images/imgIcon.svg');
  background-position: right;
  background-repeat: no-repeat;
  background-size: contain;
  border-top: 1px solid black;
  padding-right: 32px;
  width: 140px;
  word-wrap: break-word;
}

.form button {
  height: 40px;
  max-width: 140px;
  width: 100%;
}

.button-trunfo-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 8px;
  justify-content: space-between;
}

.form .super-trunfo-input {
  align-items: center;
  display: flex;
  flex-direction: row-reverse;
}

.form .super-trunfo-input input {
  margin: 0;
}

.button-trunfo-container span {
  color: var(--primary-color);
  text-align: center;
}


@media only screen and ( min-width : 768px ) {

  .form {
    max-width: 350px;
  }

  .form .button-trunfo-container {
    flex-direction: row;
  }
}
